<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>
</head>
    <body>
        <h1>Alura receitas</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium blanditiis non soluta accusantium nesciunt quia officiis recusandae, possimus itaque eaque? Alias, voluptatem? At non doloribus, consequatur necessitatibus harum vel a.</h3>
    </body>
</html>